<!DOCTYPE html>

<title> George's marvellous flashcard webpage </title>
<head> Morning {{user}} and welcome to my webpage </head>
<p> Here you can insert a pair of words into the mongodb separated by '=' </p>
<form method="POST" action = "/insert" name = "insert">
    <input name="text">
    <input type="submit">
</form>

<p>Here you can retrieve the 'back' of the flashcard</p>
<form method="POST" action = "/check" name = "check">
    <input name="text">
    <input type="submit">
</form>

<p>This is the front end to a very clever API which will be used to suggest the back of the card.</p>
<form method="POST" action = "/translate" name = "translate">
    <input name="text">
    <input type="submit">
</form>

<a href={{ "http://127.0.0.1:5000/" }} style="text-decoration:none"> 
    <button class="button-basic"> Home </button>
</a>

