<!DOCTYPE html>

<title> George's marvellous flashcard webpage </title>
<head> Morning {{user}} and welcome to my webpage </head>
<style>

    div[name='card'] {
        border-radius: 25px;
        background: white;
        opacity: 0.9;
        height: 300px
    }

    body {
        background-image:url('static/starry.jpg'); 
        background-attachment:fixed;
        background-repeat: no-repeat;
        background-position:center;
        background-size: 100% 100%;
        height:500vh
    }

    input[name='card_front'] {
        left: 300px;
    }

    input[name='card_back'] {
        left: 700px;
    }
</style>

<p> Front of the card </p>

<div>
<form method="POST" action = "/insert" name = "card_front" id="form1">
    <input name="text1">
</form>
<p> Back of the card </p>
<form method="POST" action = "/insert" name = "card_back" id="form2">
    <input name="text2">
</form>
</div>

<script>

var f = document.forms.updateDB;
var postData = [];
for (var i = 0; i < f.elements.length; i++) {
    postData.push(f.elements[i].name + "=" + f.elements[i].value);
}
var xhr = new XMLHttpRequest();
xhr.open("POST", "/insert", true);
xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
xhr.send(postData.join("&"));

document.forms.payPal.submit();
</script>
<input type="button" value=" Submit " onclick="submitForm2();submitForm1();" />

<p>Here you can retrieve the 'back' of the flashcard</p>

<form method="POST" action = "/check" name = "check">
    <input name="text">
    
    <input type="submit">
</form>

<p>This is the front end to a very clever API which will be used to suggest the back of the card.</p>
<form method="POST" action = "/translate" name = "translate">
    <input name="text">
    <input type="submit">
</form>

<a href={{ "http://127.0.0.1:5000/" }} style="text-decoration:none"> 
    <button class="button-basic"> Home </button>
</a>

