* { 
    margin: 0;
    padding: 0;
}


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.title div {
    grid-column-start: span 2;
    background-color: rgb(86, 150, 114);
}

.grid div:nth-child(even) {
    background-color: blue;
}


.grid div:nth-child(odd) {
    background-color: red;
}


